@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Istok+Web');


body{
    font-family: 'Istok Web', sans-serif;
}

h2{
    color: #775ba3;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

p{
    margin: 0;
}






/*details*/
.b_text {
    font-size: 50px;
    color: #35f70d;
    margin-bottom: 70px;
    text-align: center;
    position: relative;
    top: -280px;
}


.te{
    font-size: 16px;
}
.tec{
    margin-top: 25px;
    font-size: 30px;
    margin-bottom: 6px;
}
.clarifi{
    font-size: 32px;
    line-height: 1.13;
    margin-top: 50px;
}
.up{
    margin-top: 65px;
    margin-bottom: 50px;
}
.for_img{
    margin-top: 95px;
}
.effluent{
    font-size: 32px;
    line-height: 1.13;
    margin-top: 68px;
}
.down{
    margin-bottom: 50px;
}
.ro{
    font-size: 32px;
    line-height: 1.13;
    margin-top: 110px;
}
/*end*/



