@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Istok+Web');


body{
    font-family: 'Istok Web', sans-serif;
    overflow-x: hidden;
}

h2{
    color: #775ba3;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

p{
    margin: 0;
}







/*products*/
.head{
    margin-bottom: 0px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.row1,.row2,.row3{
    margin-top: 20px;
}
.row3{
    margin-bottom: 20px;
}
.row4{
    margin-bottom: 50px;
}
.btn{
    margin-left: 60px;
}
h3{
    margin-top: 0px;
}
.caption{
    text-align: center;
}



/* ttttt */

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.img-thumbnail {
    border: 0px solid #dee2e6;}
