@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Istok+Web');


body{
    font-family: 'Istok Web', sans-serif;
    overflow-x: hidden;
}

h2{
    color: #775ba3;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

p{
    margin: 0;
}

/*Header Starts*/

.navbar{
    border-radius: 0;
    border: none;
    min-height: 75px;

}
.navbar-expand-lg{
    background-color: #0049BC !important;
    border-top: 0px solid #9498c1;
    opacity: .7;
    z-index: 999;

}

.navbar-brand{
    padding: 0 120px 25px 15px;
    margin-top: 12px;
}
.navbar-expand-lg .navbar-nav > li > a{
    color: #ffffff;

}
.navbar-nav{
    padding-top: 10px;
}
.logo{
    border-radius: 35px;
    margin-top: -8px;
}
.nav-link {
    color: #fff !important;font-size: 18px;padding: 0px;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fbfbfd;
    text-decoration: none;
    background-color: #0d7dee;
}

/* carousel */


/*details*/
.for-one{
    font-size: 28px;
    line-height: 1.13;
    margin-top: 150px;
}
.for-two{
    font-size: 28px;
    line-height: 1.13;
    margin-top: 90px;
}
.down{
    margin-bottom: 80px;
}
.CH{
    margin-top: 100px;
    font-size: 28px;
    line-height: 1.13;
}
.left_img{
    margin-left: 210px;
}
.rain{
    font-size: 28px;
    line-height: 1.13;
    margin-top: 150px;
}
.product{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.jumbo{
    margin-top: 85px;
    font-size: 28px;
    line-height: 1.13;
}
.b_text{
    font-size: 50px;
    color: #0c49d8;
    margin-bottom: 70px;
}

.dropdown, .dropup {
    position: relative;
    margin-top: 0px;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #0049BC;
    border-color: #337ab7;
}


.te{
    font-size: 18px;
}

/*contaminator*/
.head{
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.header2{
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 10px;
    font-weight: 800;
}
.header3{
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 50px;
}
.marg{
    margin-left: 60px;
}
.marg2{
    margin-left: 150px;
}
.caption p:nth-child(2){
    margin-bottom: 50px;
}

/*End*/



/*footer start*/
.footer{
    background-color: #0049BC;
    color: #ffffff;
    padding-bottom: 10px;
}
.footerheader{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 0px 0 0px;
    cursor: pointer;
    margin-top: 50px;
}
.footer_menu_items{
    font-size: 15px;
    font-weight: 300;
    line-height: 1.14;
    margin-top: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: #ffffff;
    text-decoration: none;
}
.child_of_menu{
    margin-bottom: 15px;margin-left: -8px;
}
.fa{
    color: #ffffff;
    font-size: 20px;
    border: 1px solid #eeeee6;
    padding: 10px 10px;
    border-radius: 45px 4px 4px 4px;
}
.fa:hover{
    color: #ff2a2e;
    font-size: 20px;
    border-radius: 45px 4px 4px 4px;
}

.fata{
    list-style: none;
}
.book{
    margin-left: 16px;
    margin-top: 35px;
}
.tube {
    margin-left: 100px;
    margin-top: -40px;
}