@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Istok+Web');


body{
    font-family: 'Istok Web', sans-serif;
/overflow-x: hidden;
}

p{
    margin: 0;
}





/*about*/
#about{
    margin-bottom: 100px;
}
.content>h2{
    color: #2F6BC9;
    max-width: 1140px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.te{
    font-size: 18px;
    margin-left: 90px;

}

/*technology*/
#technology{
    background-color: #E5EDFA;
}
.headline{
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.descrip{
    text-align: center;
    font-size: 20px;
    margin-bottom: 80px;
}
.marg{
    margin-left: 50px;
}
.name{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 20px;
}
.p_details{
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5;
}
.call{
    margin-bottom: 100px;
}




