@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Istok+Web');


body{
    font-family: 'Istok Web', sans-serif;
/overflow-x: hidden;
}

h2{
    color: #775ba3;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

p{
    margin: 0;
}




/*Header Starts*/

.navbar{
    border-radius: 0;
    border: none;
    min-height: 75px;

}
.navbar-inverse {
    background-color: #0049BC;
    border-top: 0px solid #9498c1;
    opacity: .7;
}

.navbar-brand{
    padding: 0 120px 25px 15px;
    margin-top: 12px;
}
.navbar-inverse .navbar-nav > li > a{
    color: #ffffff;

}
.navbar-nav{
    padding-top: 10px;
}


/*details*/
.for-text{
    font-size: 32px;
    line-height: 1.13;
    margin-top: 150px;
}
.product{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.b_text{
    font-size: 50px;
    color: #f7d906;
    font-weight: bolder;
    text-align: center;
    
}
.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 130px;
}

.item {
    height: 400px;
}


.dropdown, .dropup {
    position: relative;
    margin-top: 15px;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #0049BC;
    border-color: #337ab7;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 210px;
    padding: 12px 20px;
    margin: 18px -50px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    color: #121111;
    font-weight: 700;
}
.logo{
    border-radius: 35px;
    margin-top: -8px;
}



/*products*/
.head{
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.row1{
    margin-top: 20px;
    margin-bottom: 50px;
}
#products>.row2{
    margin-top: 20px;
    margin-bottom: 50px;
}
.btn{
    margin-left: 60px;
}
h3{
    margin-top: 0px;
}




/*answer*/
#answers{
    background-image: url("../img/answer_back.png");
    color: #ffffff;
    background-size: cover ;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
.title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.8rem;
    font-weight: 700;
}
.answer_title{
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.answer_text{
    font-size: 1.7rem;
}
.first{
    margin-bottom: 20px;
}
.second{
    margin-bottom: 50px;
}
.plus {
    content: "";
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background-color: #0049bc;
    z-index: 1;
}

/*help*/
#help{
    margin-top: 70px;
    margin-bottom: 70px;
}
.title2{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}
.subtitle{
    text-align: center;
    margin-bottom: 70px;
    font-size: 14px;
}
.help_text{
    font-size: 18px;
    font-style: italic;
}







/*footer start*/
.footer{
    background-color: #0049BC;
    color: #ffffff;
    padding-bottom: 50px;
}
.footerheader{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-size: 1.2rem;
    display: block;
    width: 100%;
    padding: 13px 0 12px;
    cursor: pointer;
    margin-top: 50px;
}
.footer_menu_items{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.14;
    margin-top: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: #ffffff;
    text-decoration: none;
}
.child_of_menu{
    margin-bottom: 15px;
}
.fa{
    color: #ffffff;
    font-size: 20px;
    border: 1px solid #eeeee6;
    padding: 10px 10px;
    border-radius: 45px 4px 4px 4px;
}
/*.fa:hover{*/
/*    color: #ff2a2e;*/
/*    font-size: 20px;*/
/*    border-radius: 45px 4px 4px 4px;*/

/*}*/
.navbar-right {
    float: right !important;
    margin-right: 90px;
}

.fata{
    list-style: none;
}
.book{
    margin-left: 30px;
}
.tube {
    margin-left: 25px;
    margin-top: 2px;
}

